@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

html, body {
    height: 100%;
}

body {
    background: #6ea22c;
    color: white;
    font-family: 'PT Sans';
    /*box-shadow: inset 0 0 136px -24px rgba(0,0,0,0.54);*/
    box-shadow: inset 0 0 50px 0px rgba(0,0,0,0.50);
}

h1, h2, h3, h4, h5, h6, .h {
    font-family: 'PT Serif';
    line-height: 1.4;
    padding-bottom: 25px;
    display: block;
}

h1, .h1 {
    font-size: 36px;
}

h2, .h2 {
    font-size: 30px;
}

.ico {
    position: relative;
    padding-left: 30px;
}

.ico:before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
}

.ico-news:before {
    background: url("/assets/images/big_ico_news.png") no-repeat center;
    width: 27px;
    height: 23px;
}

.ico-goods:before {
    background: url("/assets/images/big_ico_goods.png") no-repeat top center;
    width: 33px;
    height: 46px;
    top: -6px;
    left: -8px;
}


.main-table {
    display: table;
    width: 1280px;
    /*margin: 0 auto;*/

    height: 100%;
}

.col {
    display: table-cell;
}

#nav-col {
    width: 185px;
    vertical-align: top;

}

.logo {
    position: relative;
    z-index: 10;
    padding: 20px 0 0 27px;
    margin-bottom: 70px;
}

.logo:after {
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    background: #fff;
    position: absolute;

    border-radius: 15px;
    top: -200px;
    left: -60px;
    transform: rotate(45deg);
    z-index: -5;
}


.nav {
    position: absolute;

    left: 15px;
    margin-top: 140px;

    color: #fff;
    text-align: center;
    font-size: 14px;
    /*margin: 0 auto;*/
    width: 150px;
}

.nav.nav-scrolled {
    position: fixed;
    top: 0px;
    margin-top: 40px;
}

.nav a {
    color: #fff;
    display: inline;
    /*text-decoration-style: dashed;*/
    text-decoration: none;
    border-bottom: 1px dashed;

}
.nav a:after {
    content: '';
    display: block;
    margin-bottom: 30px;
}

.nav a:hover {
    text-decoration: none;
    border-bottom: none;
}


/*.default-nav.nav-scrolled {*/
    /*/!*left: 15px;*!/*/
/*}*/

.default-nav a.ico-news:before,
.default-nav a.ico-goods:before,
.default-nav a.ico-contacts:before{
    content: '';
    background: url("/assets/images/ico_news.png") no-repeat center;
    display: block;
    width: 100%;
    height: 23px;
    text-align: center;
}

.default-nav a.ico-goods:before {
    background: url("/assets/images/ico_goods.png") no-repeat center;
    height: 31px;
}

.default-nav a.ico-contacts:before {
    background: url("/assets/images/ico_contacts.png") no-repeat center;
    height: 28px;
}

/*.sections-nav {*/
    /*margin-top: 200px;*/
    /*/!*top: 320px;*!/*/
    /*/!*position: fixed;*!/*/
/*}*/

/*.sections-nav.nav-scrolled {*/
    /*margin-top: 40px;*/
/*}*/

/*.sections-nav a {*/
    /*/!*position: relative;*!/*/
    /*display: block;*/
/*}*/

.page {
    width: 1095px;
    background: white;

    height: 100%;
    min-height: 100%;

    /*box-shadow: -8px 8px 20px 1px rgba(0,0,0,0.54);*/
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.50);

    color: #000;

    padding-bottom: 100px;
    position: relative;
}

.page a {
    color: #000;
    text-decoration: underline;
}

.page a:hover {
    text-decoration: none;
}

#menu {
    padding: 24px 0 25px 45px;
    vertical-align: middle;
    font-size: 18px;
    z-index: 999;
}

#menu a {
    display: inline-block;
    margin-right: 16px;
    position: relative;
    z-index: 20;
}


#menu a:hover .hover, #menu a.active .hover {
    background: url("/assets/images/menu-hover.svg") no-repeat center;
    height: 32px;
    width: 120px;
    display: block;
    position: absolute;
    top: 0;
    text-align: center;
    left: 50%;
    margin-left: -60px;
    z-index: -1;
    border: none;
}

.lang-nav {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 12px;
}

.lang-nav a {
    margin-right: 10px;
    position: relative;
}

.lang-nav a:hover, .lang-nav a.active {
    color: #fff;
    text-decoration: none;
    z-index: 1;
}

.lang-nav a:hover:after, .lang-nav a.active:after {
    content: '';
    position: absolute;
    top: 0;
    left: -13px;
    background: url("/assets/images/lang-hover.svg") no-repeat center;
    background-size: auto 100%;
    width: 44px;
    height: 20px;
    z-index: -1;
}

.nii-struct {
    position: relative;
    background: #6ea22c;
    padding-left: 37px;
    width: 923px;
    height: 110px;
    padding-top: 15px;
    /*overflow: hidden;*/
    z-index: 50;
}

.nii-struct.white {
    background: #ffffff;
    height: auto;
}

.nii-struct.green:after {
    content: '';
    display: block;

    position: absolute;
    top: 0;
    right: -57px;

    width: 58px;
    height: 100%;

    background: url("/assets/images/triangle.svg") no-repeat 0 center;
    background-size: 100% auto;
    z-index: -1;
}

.nii-struct a {
    display: inline-block;
    color: #fff !important;
    font-size: 18px;
    margin: 0px 0px 8px;
    padding: 3px 10px 7px;
}

.nii-struct.white a {
    color: #000000 !important;
}

.nii-struct.green a.active {
    background: #ffffff;
    color: #000000 !important;
}

.nii-struct.white a.active {
    background: #6ea22c;
    color: #ffffff !important;
}


.slider {
    height: 345px;
    margin-bottom: 70px;
}

.p-47 {
    padding: 0 47px;
}

.pt-30 {
    padding-top: 30px;
    padding-top: 25px;
}

.underlined {
    border-bottom: 1px solid #000;
}

.content {
    font-size: 16px;
    line-height: 1.3;
    font-weight: lighter;
    /*font-size: 18px;*/
}


.content p {
    padding-bottom: 35px;
}

.grid {
    font-size: 0;
    width: 100%
}

.grid-cell {
    position: relative;
    display: inline-block;
    width: 33%;
    overflow: hidden;
    z-index: 5;
    height: 325px;
}

.grid-cell.good-item {
    text-align: center;
    height: 365px;
}

.grid-cell.news-item {
    text-align: left;
    font-size: 14px;
    height: 365px;
}

.lr-borders {
    height: 100%;
    font-size: 18px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border-bottom: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
    z-index: 5;
}

.grid-cell:nth-child(3n) {
    width: 34%;
}

.grid-cell:nth-child(3n) .lr-borders {
    border-right: none;
}

/* первая строка из 3х лементов */
.grid-cell:first-of-type .lr-borders,
.grid-cell:first-of-type + .grid-cell .lr-borders,
.grid-cell:first-of-type + .grid-cell + .grid-cell .lr-borders {
    border-top: 2px solid #e1e1e1;
}

.grid-cell:hover .lr-borders:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid #6ba12d;
    top: 0;
    left: 0;
    z-index: 1;
}

.grig-cell-content {
    display: block;
    width: 245px;
    margin: 0 auto;
    padding-top: 40px;
    z-index: 10;
    position: relative;
}

.grid-cell a {
    display: block;
    z-index: 10;
}

.grid-cell a img  {
    padding-top: 10px;
    max-width: 100%;
}

.date {
    color: #acacac;
    font-size: 14px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid #6ba12d;
}

.col {
    display: table-cell;
    vertical-align: top;
}

.nii-list {
    position: relative;
    width: 545px;
    padding-right: 150px;
}

.nii-list-wrapper {
    /*width: 545px;*/
    width: 450px;
    background: #6ea22c;
    z-index: 50;
    color: #fff;
    padding: 20px 0 10px 47px;
    position: relative;
}


.nii-list-wrapper:after {
    content: '';

    position: absolute;
    top: 0;
    left: 100%;

    width: 150px;
    height: 100%;

    background: url("/assets/images/triangle.svg") no-repeat 0 center;
    background-size: auto auto;
}

.nii-menu a {
    display: block;
    padding-bottom: 12px;
    color: #fff !important;
    font-size: 18px;
    line-height: 1.2;
}


.news-list {
    position: relative;
    top: -15px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-top: 1px solid #c0c0c0;
    display: table;
}

.news-list:last-of-type {
    border-bottom: 1px solid #c0c0c0;
}


.news-list-item {
    display: table-row;
}

.news-list-item .news-image {
    padding: 10px 30px 0 0;
    display: table-cell;
    vertical-align: top;
    width: 250px;
}

.news-list-item .news-image img {
    display: block;
    margin-bottom: 0px;
}

.news-list-item .news-text {
    display: table-cell;
    vertical-align: top;
}


.news-list-item .fadded {
    height: 250px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.news-list-item .fadded:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(transparent 100px, white);
    z-index: 2;
}


.news-list-item .fadded .h {
    position: relative;
    z-index: 993 !important;

}

.years-menu {
    position: relative;
    top: -15px;
}

.years-menu a {
    display: inline-block;
    font-size: 20px !important;
    padding: 2px 5px;
}

.years-menu .active {
    text-decoration: none;
    background: #6ea22c;
    color: #fff;
}

.goods-nav {
    font-size: 35px;
    padding: 15px 0 40px;
}

.goods-nav a {
    display: inline-block;
    padding: 0 5px 0 5px;
}

.goods-nav .active {
    background: #6ea22c;
    color: #fff !important;
    text-decoration: none;
}

.spacer {
    width: 185px;
}

.copyright {
    padding: 35px 0 35px 15px;
    width: 1095px;
}