.wysiwyg {
    font-size: 18px;
    line-height: 1.5;
    /*padding-right: 200px;*/
    width: 80%;
}

.wysiwyg b,
.wysiwyg strong {
    font-weight: bold;
}

.wysiwyg dfn,
.wysiwyg em,
.wysiwyg i {
    font-style: italic;
}

.wysiwyg small {
    font-size: 80%;
}

.wysiwyg sub,
.wysiwyg sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.wysiwyg sup {
    top: -0.5em;
}

.wysiwyg sub {
    bottom: -0.25em;
}

.wysiwyg img {
    border: 0;
    margin: 5px 0 20px;
}

.wysiwyg hr {
    box-sizing: content-box;
    height: 0;
}

.wysiwyg table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 40px;
}

.wysiwyg td,
.wysiwyg th {
    padding: 10px 10px 10px 0;
    vertical-align: top;
}

.wysiwyg th {
    text-align: left;
    font-weight: bold;
}
.wysiwyg tr {
    border-bottom: 1px solid #000;
}

.wysiwyg .noborder tr {
    border: none;
}

.wysiwyg ol, .wysiwyg ul {
    padding-bottom: 20px;
    list-style-position: outside;
    margin-left: 20px;
}
.wysiwyg ol li, .wysiwyg ul li {
    padding-bottom: 10px;
    /*list-style-position: outside;*/
}

.wysiwyg ul {
    list-style-type: disc;
    /*list-style-position: inside;*/
}
.wysiwyg ol {
    list-style-type: decimal;
    /*list-style-position: inside;*/
}
.wysiwyg ul ul,
.wysiwyg ol ul {
    list-style-type: circle;
    /*list-style-position: inside;*/
    margin-left: 15px;
}
.wysiwyg ol ol,
.wysiwyg ul ol {
    list-style-type: lower-latin;
    /*list-style-position: inside;*/
    margin-left: 15px;
}

.wysiwyg blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    border-left: 3px solid #ccc;
    padding-left: 5px;
    font-style: italic;
}

.wysiwyg p {
    display: block;
    /*margin-top: 1em;*/
    /*margin-bottom: 1em;*/
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 25px;
}

/*.wysiwyg h1,*/
/*.wysiwyg h2,*/
/*.wysiwyg h3,*/
/*.wysiwyg h4,*/
/*.wysiwyg h5,*/
/*.wysiwyg h6 {*/
    /*display: block;*/
    /*font-weight: bold;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
/*}*/

/*.wysiwyg h1 {*/
    /*font-size: 2em;*/
    /*margin-top: 0.67em;*/
    /*margin-bottom: 0.67em;*/
/*}*/

/*.wysiwyg h2 {*/
    /*font-size: 1.5em;*/
    /*margin-top: 0.83em;*/
    /*margin-bottom: 0.83em;*/
/*}*/

/*.wysiwyg h3 {*/
    /*font-size: 1.17em;*/
    /*margin-top: 1em;*/
    /*margin-bottom: 1em;*/
/*}*/

/*.wysiwyg h4 {*/
    /*margin-top: 1.33em;*/
    /*margin-bottom: 1.33em;*/
/*}*/

/*.wysiwyg h5 {*/
    /*font-size: .83em;*/
    /*margin-top: 1.67em;*/
    /*margin-bottom: 1.67em;*/
/*}*/

/*.wysiwyg h6 {*/
    /*font-size: .67em;*/
    /*margin-top: 2.33em;*/
    /*margin-bottom: 2.33em;*/
/*}*/

.wysiwyg pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

.wysiwyg q {
    display: inline;
}

.wysiwyg q:before {
    content: '«';
}

.wysiwyg q:after {
    content: '»';
}


.wysiwyg .italic {
    display: inline-block;
    font-style: italic;
    padding: 0 0 10px;
}